@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
 --font-start: 'Press Start 2P', cursive;
 --font-montserrat:'Montserrat', sans-serif;
 --green:#00cc66;
 --navy: #150578;
 --blue:#347fc4;
 --turquoise:#28666e;
 --orange:#f1a208;
 --black:#000;
 --grey:#202020;
 --white:#fff;
 --red:#c9184a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page {
display: flex;
flex-direction: column;
justify-content: center;

padding: 50px;
}

.page_tittle {
  color:var(--white);
  font-size: 54px;
  text-align: center;
  font-family: var(--font-start);
  margin-bottom: 20px;
}


a {
  text-decoration: none;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0;
}

.item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.item_link {
  display: block;
  padding: 30px 20px;
  background-color: var(--grey);
  overflow: hidden;
  position: relative;
}

.item_link:hover,
.item_link:hover .item_joke {
  text-decoration: none;
  color: var(--white);
}

.item_link:hover .item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.item_title {
  min-height: 87px;
  /* margin: 0 0 25px; */
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: var(--white);
  z-index: 2;
  position: relative;
  font-family: var(--font-start);
  line-height: 1.5;
  letter-spacing: 2px;
}

.item_joke-box {
  font-size: 18px;
  color: var(--white);
  z-index: 2;
  position: relative;
  font-family: var(--font-montserrat);
}

.item_joke {
  font-weight: bold;
  color: #f9b234;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  margin-top: 15px;
}

.item_bg {
  height: 128px;
  width: 128px;
  background-color: #c9184a;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.item:nth-child(2n) .item_bg {
  background-color: var(--green);

}

.item:nth-child(3n) .item_bg {
  background-color: var(--navy);

}

.item:nth-child(4n) .item_bg {
  background-color: var(--blue);
}

.item:nth-child(5n) .item_bg {
  background-color: var(--turquoise);
}

.item:nth-child(6n) .item_bg {
  background-color: var(--orange);
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-start);
  background-color: var(--black);
  color: var(--white);
}

.redClown, .blackClown {
  color:var(--red);
}

.greenClown {
  color:var(--green);
}

@media only screen and (max-width: 979px) {
  .item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .item_link {
    padding: 22px 40px;
  }

  .item_joke-box {
    font-size: 16px;
  }
}